<ion-header>
  <ion-toolbar>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../assets/img/avatar.png" style="max-height: 200px;">
      </ion-col>
      <ion-col size="9">
        <p>
          Je me prénomme Alexandre, je suis étudiant à l'IUT de Metz, en BUT Informatique, au sein de l'Université de Lorraine. Je suis passionné par les jeux vidéos depuis mon plus jeune âge. J'ai décidé de créer cette application pour partager ma passion avec vous.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Un long parcours vers la réussite. J'ai commencé ma vie professionnelle à 16 ans avec un CAP maçonnerie et je finirai ingénieur en développement informatique. J'ai toujours été passionné par l'informatique (sauf le front-end), j'ai donc décidé d'en faire mon métier.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
