<ion-header>
  <ion-toolbar>
    <ion-title>Mes jeux</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button routerLink="/games/new">Ajouter un nouveau jeu</ion-button>
  <h2>Liste de mes jeux</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let game of games">
        <ion-card [routerLink]="['/games', game.id]">
          <img [src]="game.pictureLink" [alt]="game.title">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- Centré -->
    <ion-title class="ion-text-center">Quel sera mon prochain souhait ?</ion-title>
  </ion-toolbar>
</ion-footer>

