<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualité</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières actualités du jeu vidéo</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jeux</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers jeux sortis</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consoles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières consoles sorties</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Evénements</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers événements</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Communauté</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières actualités de la communauté</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tests</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers tests de jeux</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Interviews</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières interviews de développeurs</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reportages</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers reportages sur le jeu vidéo</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Podcasts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers podcasts sur le jeu vidéo</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Concours</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers concours</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Emploi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières offres d'emploi</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières formations</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Annuaire</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières actualités de l'annuaire</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Partenaires</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières actualités de nos partenaires</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Publicité</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les dernières publicités</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Services</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers services</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jeux concours</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Les derniers jeux concours</p>
    </ion-card-content>
  </ion-card>
</ion-content>

